@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face {
        font-family: dana-medium;
        font-style: normal;
        src: url('../public/assets/font/Dana-Medium.woff') format("woff");
    }
    @font-face {
        font-family: dana-bold;
        font-style: normal;
        src: url("../public/assets/font/Dana-Bold.woff") format("woff");
    }
    @font-face {
        font-family: dana-black;
        font-style: normal;
        src: url("../public/assets/font/Dana-Black.woff") format("woff");
    }
    body{
        @apply m-0 p-0 font-dana-medium box-border
    }
}

@layer components{
    .button-primary{
        @apply flex justify-center items-center bg-primary font-dana-bold font-extrabold text-xl text-white mt-5 py-2  px-3 rounded-2xl ease-linear duration-300 hover:bg-white hover:text-primary hover:border-2 border-primary;
    }
}